body {
 	margin: 0;
 	display: table;
 	font:normal 75% Arial, Helvetica, sans-serif;
}

body a {
	color: black;
}

canvas {
 	display: block;
 	vertical-align: bottom;
}

.container {
    display: table-cell;
    vertical-align: middle;
}

.container-item-logo {
	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
 	margin-top: -125px;
}

.container-item-name {
	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
}

.container-item-weblinks {
	display: table-cell;
}

.container-about-photo {
	position: absolute;
 	top: 30%;
 	left: 50%;
 	transform: translate(-50%, -50%);
}

.container-about-text {
	position: absolute;
 	top: 15%;
 	left: 50%;
 	transform: translate(-50%, -50%);
 	margin-top: 500px;
}

.weblink-item-resume {
	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
 	margin-top: 50px;
 	margin-left: -40px;
}

.weblink-item-about {
	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
 	margin-top: 50px;
 	margin-left: 40px;
}

#resume-link {
	text-align: center;
	color: black;
	font-weight: 100;
	font-size: 18px;
	font-family: "Helvetica";
	margin-top: 15px;
}

#about-link {
	text-align: center;
	color: black;
	font-weight: 100;
	font-size: 18px;
	font-family: "Helvetica";
	margin-top: 15px;
}

#about-text {
	text-align: center;
	color: white;
	font-weight: 100;
	font-size: 18px;
	font-family: "Helvetica";
	margin-top: 15px;
}

.container-item-social {
	display: table-cell;
}

.container-item-footer {
	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
 	margin-top: 450px;
}

.social-item-linkedin {
	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
 	margin-top: 125px;
 	margin-left: -110px;
}

.social-item-twitter {
	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
 	margin-top: 125px;
 	margin-left: -37px;
}

.social-item-git {
	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
 	margin-top: 125px;
 	margin-left: 37px;
}

.social-item-facebook {
	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
 	margin-top: 125px;
 	margin-left: 110px;
}

#name {
	text-align: center;
	color: white;
	font-weight: 100;
	font-size: 39px;
	font-family: "Helvetica";
	margin-top: 15px;
}

#footer {
	text-align: center;
	color: white;
	font-weight: 100;
	font-size: 10px;
	font-family: "Helvetica";
	margin-top: 15px;
}

/* ---- particles.js container ---- */

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #4a4a4a;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
