@font-face {
    font-family: "Styrene B Regular Regular";
    src: url("https://db.onlinewebfonts.com/t/5d86f2e8ccc2811b9392aa03b7ce4a63.eot");
    src: url("https://db.onlinewebfonts.com/t/5d86f2e8ccc2811b9392aa03b7ce4a63.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/5d86f2e8ccc2811b9392aa03b7ce4a63.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/5d86f2e8ccc2811b9392aa03b7ce4a63.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/5d86f2e8ccc2811b9392aa03b7ce4a63.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/5d86f2e8ccc2811b9392aa03b7ce4a63.svg#Styrene B Regular Regular")format("svg");
}

body {
    margin: 0;
    font: normal "Styrene B Regular Regular", Arial, "Helvetica Neue", sans-serif;
    background-color: #4154d6;
}

body a {
    background-color: #4154d6;
}

canvas {
    display: block;
    vertical-align: bottom;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.name-text,
.weblink-text {
    color: white;
    text-decoration: none;
}

.container-item-logo {
    margin-top: -135px;
}

.container-item-name {
}

.container-item-weblinks {
}

.container-about-photo {
    top: 30%;
}

.container-about-text {
    top: 15%;
    margin-top: 500px;
}

.weblink-item-resume {
    margin-top: 50px;
}

.weblink-item-about {
    margin-top: 50px;
    margin-left: 45px;
}

#resume-link {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: "Styrene B Regular Regular", "Helvetica Neue";
    margin-top: -60px;
}

.social-item-linkedin {
	text-align: center;
    color: white;
    margin-top: 20px;
    font-size: 20px;
    font-family: "Styrene B Regular Regular", "Helvetica Neue";
}

.social-item-git {
	text-align: center;
    color: white;
    margin-top: 21px;
    font-size: 20px;
    font-family: "Styrene B Regular Regular", "Helvetica Neue";
}

#name {
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: "Styrene B Regular Regular", "Helvetica Neue";
    margin-top: -70px;
}

#footer {
    text-align: center;
    color: white;
    font-size: 10px;
    font-family: "Styrene B Regular Regular", "Helvetica Neue";
    margin-top: 15px;
}
